* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f4f4f4; 
    color: #333; 
    line-height: 1.6;
}

.menu-principal {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu-principal nav ul {
    list-style: none; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.menu-principal nav ul li {
    margin: 0 15px; 
}

.menu-principal nav ul li a {
    color: #fff;
    text-decoration: none; 
    font-weight: bold;
}

.menu-principal nav ul li a:hover {
    color: #f0a500; 
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 80px 20px; 
    background-color: #fff;
    margin-bottom: 20px; 
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

.projeto {
    margin-bottom: 20px;
    padding: 15px;
    border-left: 5px solid #f0a500; 
    background-color: #f9f9f9;
}


form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333; 
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #555;
}

.contato-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #f0a500;
}

.info-item {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.info-item strong {
    color: #333;
    margin-right: 10px;
}